# Initialization

### Importing packages 
config.py file has all the passwords and confidentials data stored

In [25]:
import MySQLdb
import numpy as np
import pandas as pd
import config

Getting the present timestamp, please **copy it to clipboard**

In [26]:
import time
ts = time.time()
import datetime
date = datetime.datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
date

'2018-01-16 14:17:09'

### Connecting to the Database

In [27]:
db = MySQLdb.connect(host=config.mysql_ip,port=3306, user=config.mysql_user, passwd=config.mysql_password)

In [28]:
kb = db.cursor()

Checking if connection is successfull -> lets print out all the DBs

In [29]:
kb.execute("SHOW DATABASES")
kb.fetchall()

(('customers',),
 ('information_schema',),
 ('monthly_deals',),
 ('monthly_leads',),
 ('monthly_mqls',),
 ('mysql',),
 ('performance_schema',),
 ('phpmyadmin',),
 ('product_launch',),
 ('product_team',))

To update the records / add new one we need to use concrete DB. In this case we use **product_team**

In [30]:
kb.execute("use product_team")
kb.fetchall()

()

### Doing the querry
Below is querry. Remember about the order of the columns.

In [31]:
#kb.execute("SELECT * from BeaconApplications")
#november_deals = kb.fetchall()
#print(type(november_deals))
#pd_november_deals = pd.DataFrame.
#pd_november_deals = pd.MultiIndex.from_tuples(november_deals)

#print(pd_november_deals)

querry ='''INSERT INTO `BeaconApplications` 
(column1, column2) 
VALUES ('some string', 213)'''

In case of any errors you will receive them below while runing this block.

In [32]:
try:
    kb.execute(querry)
except (MySQLdb.Error, MySQLdb.Warning, MySQLdb.NotSupportedError) as e:
    print(e)

Now you need to commit changes and close the connection

In [33]:
db.commit()
db.close()